<p>
  #Intro message to the parent
  Hello! <%= @parent.email%>,
  A new journal entry was posted by your child, <%= @child.name %>:
</p>
<blockquote>

#main message you want to send to the parents of the child that uploads
Your child just submitted a journal entry on EmotionKnow.  Log in to your account to see the emotions they expressed!

                  #link to EmotionKnow homepage or login
                  EmotionKnow.com/login
</blockquote>

<p>
Best wishes,
The EmotionKnow Team
</p>
